.wrap{
	background-color: #6495ED;
	background-size: cover;
	width: 1333px;
	height: 130px;

}
.menu{
	text-align: center;
}

.menu li {
    display: inline;
}

.menu a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.wrap .menu{

	margin-top: -150px;
	margin-left:700px;
	position: absolute;
	font-size: 25px;
}


.wrap .menu ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}

.clear{
	clear: both;
}

.body{

	background-image: image(MUSIK-woww.png);
	background-size: cover;
	width: 2000px;
	margin-top: -80px;
	background-position: relative;

}

.wrap .body .content{
	background: black;
	float: left;
	height: 100%;
	width: 75%;

}
.wrap .footer{
	background:#00FFFF;
	width: 98,5%;
	padding: 10px;
	margin-top: -10px;
	height: 200px;
}

.wrap .footer .icon{
		background-image: footer.png;
}



p{
	margin-left: 1130px;
	margin-top: 30px;

}
@media screen and (max-width: 1330px) {
	.wrap{
		width: 100%;
		margin:25px auto;

	}
	.menu{
		text-align: auto;
	
	}

	.menu li {
	    display: inline;
	}

	.menu a {
	    display: inline-block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    font-size: 17px;
	}

	.menu a:hover {
	    background-color: #ddd;
	    color: black;
	}

	.wrap .menu{

		margin-top: -150px;
		margin-left:700px;
		position: absolute;
		font-size: 25px;
	}


	.wrap .menu ul{
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	.wrap .menu ul li{
		float: left;
		list-style-type: none;
		padding: 10px;
	}

	.clear{
		clear: both;
	}

	.body{
		width: 90% ;
		margin-top: -80px auto;

	}

	.wrap .body .content{
		background: black;
		float: left;
		height: 100%;
		width: 75%;

	}
	.wrap .footer{
		background:#00FFFF;
		width: 98,5%;
		padding: 10px;
		margin-top: -10px;
		height: 200px;
	}

	.wrap .footer .icon{
			background-image: footer.png;
	}



	p{
		margin-left: 1130px;
		margin-top: 30px;

	}
